@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";


@font-face {
    font-family: "restora-neue";
    src: url("./assets/fonts/Fontspring-DEMO-restoraneue-thin.otf");
    font-weight: 100;
}
@font-face {
    font-family: "restora-neue";
    src: url("./assets/fonts/Fontspring-DEMO-restoraneue-thinitalic.otf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "restora-neue";
    src: url("./assets/fonts/Fontspring-DEMO-restoraneue-extralight.otf");
    font-weight: 200;
}
@font-face {
    font-family: "restora-neue";
    src: url("./assets/fonts/Fontspring-DEMO-restoraneue-extralightitalic.otf");
    font-weight: 200;
font-style: italic;
}

@font-face {
    font-family: "restora-neue";
    src: url("./assets/fonts/Fontspring-DEMO-restoraneue-light.otf");
    font-weight: 300;
}
@font-face {
    font-family: "restora-neue";
    src: url("./assets/fonts/Fontspring-DEMO-restoraneue-extralightitalic.otf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "restora-neue";
    src: url("./assets/fonts/Fontspring-DEMO-restoraneue-regular.otf");
    font-weight: 400;
}
@font-face {
    font-family: "restora-neue";
    src: url("./assets/fonts/Fontspring-DEMO-restoraneue-italic.otf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "restora-neue";
    src: url("./assets/fonts/Fontspring-DEMO-restoraneue-medium.otf");
    font-weight: 500;
}
@font-face {
    font-family: "restora-neue";
    src: url("./assets/fonts/Fontspring-DEMO-restoraneue-mediumitalic.otf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "restora-neue";
    src: url("./assets/fonts/Fontspring-DEMO-restoraneue-semibold.otf");
    font-weight: 600;
}
@font-face {
    font-family: "restora-neue";
    src: url("./assets/fonts/Fontspring-DEMO-restoraneue-semibolditalic.otf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "restora-neue";
    src: url("./assets/fonts/Fontspring-DEMO-restoraneue-bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: "restora-neue";
    src: url("./assets/fonts/Fontspring-DEMO-restoraneue-bolditalic.otf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "restora-neue";
    src: url("./assets/fonts/Fontspring-DEMO-restoraneue-extrabold.otf");
    font-weight: 800;
}
@font-face {
    font-family: "restora-neue";
    src: url("./assets/fonts/Fontspring-DEMO-restoraneue-extrabolditalic.otf");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "restora-neue";
    src: url("./assets/fonts/Fontspring-DEMO-restoraneue-black.otf");
    font-weight: 900;
}
@font-face {
    font-family: "restora-neue";
    src: url("./assets/fonts/Fontspring-DEMO-restoraneue-blackitalic.otf");
    font-weight: 900;
    font-style: italic;
}


@layer base {
  html {
    font-family: "Manrope", sans-serif;
  }
  p {
    font-weight: 300;
  }
  h1 {
   font-family: restora-neue;
   font-weight: 500;
  }

  .body-bg {
    background: linear-gradient(120deg, #020618, #23013c, #020618);
  }
  .body-bg-light {
    background: linear-gradient(to right, #f8fafc, #faf5ff, #f8fafc);
  }

  .gradient-text {
    color: #c27aff;
    background: linear-gradient(to right, #c27aff, #fb64b6, #c27aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .gradient-text span {
    -webkit-text-fill-color: lightsalmon;
  }

  .gradient-text-light {
    color: transparent;
    background: linear-gradient(to right, #9810fa, #e60076, #9810fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .gradient-text-light span {
    -webkit-text-fill-color: lightsalmon;
  }
/* linear-gradient(to right, #5800e6, #006de6) */
  .gradient-bg {
    background: linear-gradient(to right, #9810fa, #e60076);
    /* background: linear-gradient(to right, #9810fa, #e60076); */
  }

  .gradient-bg-light {
    background: linear-gradient(to right, #ad46ff, #f6339a);
  }
}
