@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";


@layer base {
  html {
    font-family: "Manrope", sans-serif;
  }
  p {
    font-weight: 300;
  }
  h1 {
    font-family: "Londrina Shadow", sans-serif;
  }

  .body-bg {
    background: linear-gradient(120deg, #020618, #23013c, #020618);
  }
  .body-bg-light {
    background: linear-gradient(to right, #f8fafc, #faf5ff, #f8fafc);
  }

  .gradient-text {
    color: #c27aff;
    background: linear-gradient(to right, #c27aff, #fb64b6, #c27aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .gradient-text span {
    -webkit-text-fill-color: lightsalmon;
  }

  .gradient-text-light {
    color: transparent;
    background: linear-gradient(to right, #9810fa, #e60076, #9810fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .gradient-text-light span {
    -webkit-text-fill-color: lightsalmon;
  }

  .gradient-bg {
    background: linear-gradient(to right, #9810fa, #e60076);
  }

  .gradient-bg-light {
    background: linear-gradient(to right, #ad46ff, #f6339a);
  }
}
